.navbar-user-email {
    color: white;
    margin-right: auto;
}

.navbar-buttons,
.auth-buttons {
    display: flex;
    gap: 16px;
}

.navbar-button {
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}
